
.game-table__wrapper {
  padding: 1.5rem;
  background-color: $flora-white;
  box-shadow: 1px 1px 4px 1px #CCC;
}

.game-table {
  width: 550px;
  height: 550px;;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  &:hover {
    will-change: transition;
  }
}

td {
  width: 33.33%;
  height: 33.33%;
  cursor: pointer;
  transition: background-color 0.2s;
  &:hover {
    background-color: $flame;
    opacity: 0.5;
  }
}

tr:nth-child(1) {
  td:nth-child(1) {
    border-right: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
  }
  td:nth-child(2) {
    border-right: 3px solid #ccc;
  }
  td:nth-child(3) {
    border-bottom: 3px solid #ccc;
  }
}

tr:nth-child(2) {
  td:nth-child(1) {
    border-bottom: 3px solid #ccc;
  }
  td:nth-child(2) {
    border: 3px solid #ccc;
  }
  td:nth-child(3) {
    border-bottom: 3px solid #ccc;
  }
}

tr:nth-child(3) {
  td:nth-child(2) {
    border-right: 3px solid #ccc;
    border-left: 3px solid #ccc;
  }
}

.game-table__cell {
  opacity: 0;
}

.cell-selected.cell-selected {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 1;
  transition: opacity .2s;
}

.cell-selected-0.cell-selected-0 {
  background-image: url('./images/orc.svg');
}

.cell-selected-1.cell-selected-1 {
  background-image: url('./images/knight.svg');
}
