// colors
$flora-white: #fffcf2;
$flora-white-primary: #f9f6eb;
$pale-silver: #ccc5b9;
$black-olive: #403d39;
$eerie-black: #252422;
$flame: #eb5e28;
$white: #fff;

// 33312E

// background primary

$background: $flora-white-primary;
