// colors
$flora-white: #FFFCF2;
$flora-white-primary: #F9F6EB;
$pale-silver: #CCC5B9;
$black-olive: #403D39;
$eerie-black: #252422;
$flame: #EB5E28;
$white: #FFF;

// 33312E

// background primary

$background: $flora-white-primary;